body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
}
header {
    margin: 2% 0 0 0;
}

header img {
    width: 30vw;
}

.rule {
    background: red;
    height: 4px;
    width: 100%;
    margin-bottom: 3rem;
    line-height: 2%;
}

.rule span {
    background-color: white;
    margin: 5%;
    font-family: Droid Sans;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 0 5px 0 5px;
}
.col {
    margin-bottom:5% ;
}

footer {
    height: auto;
    background-color: #000;
    padding-top: 1rem;
}

footer .fab {
    margin: 4px;
    font-size: 2rem;
    color: #333333;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: Droid Sans;
    font-size: 12px;
}

footer hr {
    margin: 0;
    width: 22vh;
    color: #4e4e4e;
    height: 3px;
}

footer .col-sm-12{
    margin: 0;
}

.corona-message{
 font-size: 12px;
}

footer h3 {
    font-size: 12px;
}