body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
}
header {
    margin: 2% 0 5% 0;
}

header img {
    width: 42vw;
}
.col {
    margin-bottom:5% ;
}

footer {
    height: 30vh;
    background-color: #000;
    padding-top: 1rem;
}

footer .social-icons  {
    font-size: xxx-large;
}

footer .fab {
    margin: 1rem;
}

/* footer a {
    text-decoration: none;
} */